@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient{
  --start-color: oklch(93% 0.207 123.87);
  --end-color: oklch(75.0% 0.152 175.72);

  background: -webkit-linear-gradient(var(--start-color), var(--end-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
